.acerca{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    text-align: center;
}

.imgacer{
    width: 100%;
    height: auto;
}

.acerca p{
    width: 65%;
    font-size: large;
}

