.contactodiv{
    display: flex;
    margin: 20px;
    line-height: 1.9;
}

.contactodiv2{
    margin-right: 10%;
}

button{
    padding: 10px;
    border-radius: 10px;
}

input{
    padding: 10px;
}